{%- assign banner_image = '/assets/images/banners/educators/' | append: page.images.banner.filename -%}
{%- assign banner_image_exists = site.static_files | where: 'path', banner_image -%}
{%- if banner_image_exists.size < 1 -%}
{%- assign science = page.sciences | first -%}
{%- assign banner_image = '/assets/images/banners/' | append: science | append: '.jpg' -%}
{%- endif -%}

{%- if page.name != nil -%}
    {%- assign content_length = page.name | size -%}
{%- else -%}
    {%- assign content_length = page.title | size -%}
{%- endif -%}

<div class="banner"{% if banner_image != nil and banner_image != '' %} style="background-image: url({{ banner_image | relative_url }});" role="img" aria-label="{{ page.name | default: page.title }}"{% endif %}>
    <div class="banner-inner{% unless content_length <= 22 %} padding-horiz-2-point-5-rem-xs-down{% endunless %}">
        <h1>
            {{ page.name | default: page.title }}
            {%- unless page.name == nil -%}
            <span class="display-block">({{ page.title | downcase }})</span>
            {%- endunless -%}
        </h1>
    </div>
</div>
