---
layout: home
title: Home
---
{%- assign grouped_sciences = site.educators | group_by: 'sciences' -%}
{%- assign popular_sciences = '' | split: ' ' -%}
{%- for grouped_science in grouped_sciences -%}
    {%- if popular_sciences.size == 3 -%}
        {%- break -%}
    {%- endif -%}

    {%- if grouped_science.name contains ',' -%}
        {%- continue -%}
    {%- endif -%}

    {%- assign popular_science = grouped_science.name | replace: '["', '' | replace: '"]', '' -%}
    {%- assign popular_sciences = popular_sciences | push: popular_science -%}
{%- endfor -%}

<h2 class="text-center">
    Welcome to {{ site.title }}
</h2>

<p>
    We are the #1 content discovery platform for STEM educators on Twitch and YouTube.
</p>

<p>
    We hope that you are able to discover new and interesting science content on your platform of choice, whether that be Twitch, YouTube, or another provider altogether.
</p>

<p>
    With many needing to upskill as a result of the pandemic, why not take the time to learn something new?
</p>

<p>
    We offer you the chance to discover a wide range of STEM educators from countless disciplines, including {% for popular_science in popular_sciences %}{%- assign science = site.sciences | where: 'tag', popular_science | first -%}{% if forloop.last %} and{% elsif forloop.index > 1 %},{% endif %} <a href="{{ science.url }}" class="text-{{ science.tag }}">{{ science.tag | replace: '-', ' ' }}</a>{% endfor %}.
</p>

<h2 class="margin-top-0-sm-down margin-top-3-point-5-rem featured-educator-title text-center">
    Our featured educator for today:
</h2>

{%- include components/streamers/featured.html random=true -%}
{%- include components/feeds/educators.html -%}
