---
layout: page
title: Lineup
description: >-
  Take a look at the STEM technicians and instructors streaming on Twitch and YouTube.
keywords:
    - stem technicians twitch
    - stem technicians youtube
    - stem twitch
    - stem youtube
permalink: /lineup/
redirect_from:
  - /educators/
show_in_nav: true
order: 3
---
<h1>
    Our lineup
</h1>

<p>
    We aim to showcase the best in STEM talent, including technicians and instructors, on content-driven platforms including Twitch and YouTube.
</p>

<p>
The disciplines of our on-screen STEM talents include, but are not limited to the following: {% for science in site.sciences %}{% if forloop.last %} and{% elsif forloop.index > 1 %},{% endif %} <a class="text-{{ science.tag }} hover-underline" href="{{ science.url }}">{{ science.tag | replace: '-', ' ' }}</a>{% endfor %}.
</p>
    
{% include components/streamers/all.html %}
