$white: #FFFFFF;
$light-grey: #D4D4D4; 
$santa-fe-brown: #A46B4A;
$black: #000000;
$cardinal-red: #CF2453;
$regent-st-blue: #9BB9D9;
$dodger-blue: #1DA1F2;
$denim-blue: #0E73B8;
$medium-slate-blue: #7950F2;
$mariner-blue: #4267B2;
$cutty-sark-blue: #496C67;
$lima-green: #69BE28;
$tangerine-yellow: #F9CE00;
$french-rose-pink: #EE4180;
