$white: #FFFFFF;
$light-grey: #D4D4D4; 
$santa-fe-brown: #A46B4A;
$black: #000000;
$cardinal-red: #CF2453;
$crimson-red: #ED1C40;
$flamingo-red: #EA5252;
$mahogany-red: #C53635;
$quora-red: #AD362E;
$youtube-red: #F80000;
$cinnabar-orange: #DC4128;
$patreon-orange: #FF5900;
$safety-orange: #FC7700;
$regent-st-blue: #9BB9D9;
$dodger-blue: #1DA1F2;
$denim-blue: #0E73B8;
$medium-slate-blue: #7950F2;
$jordy-blue: #7289DA;
$mariner-blue: #4267B2;
$bahama-blue: #24397C;
$cutty-sark-blue: #496C67;
$light-sea-green: #2ABFC7;
$lima-green: #69BE28;
$jade-green: #00AB6C;
$malachite-green: #0FCC47;
$tangerine-yellow: #F9CE00;
$french-rose-pink: #EE4180;
$heliotrope-purple: #D069F8;
$dark-orchid: #8A30C6;
$royal-purple: #6441A5;
