<script>
    class FeaturedEducatorsGridFilters {
        constructor (filters) {
            if (typeof filters === 'undefined') {
                return;
            }
            
            this.filters = document.querySelectorAll(filters);
            this.featuredEducatorsGrid = document.querySelector('.featured-educators');
            this.featuredEducatorsGrid.classList.toggle('toggle-grid');
            this.isotopeGrid = new Isotope(this.featuredEducatorsGrid, {
                itemSelector: '.featured-educator',
                layoutMode: 'fitRows'
            });

            window.featuredEducatorsGrid = this.isotopeGrid;

            this.filters.forEach(filter => {
                filter.addEventListener('change', this.filterFeaturedEducatorsGrid.bind(this));
            });
        }

        filterFeaturedEducatorsGrid (e) {
            e.preventDefault();

            if (typeof this.isotopeGrid === 'undefined') {
                return;
            }

            let
                form = e.currentTarget,
                checkedInputs = form.querySelectorAll('input[type="checkbox"]:checked'),
                input = e.target,
                isChecked = input.checked,
                filterValue = isChecked ? input.dataset.filter : '*',
                loadMoreButton = document.querySelector('.load-more-button[data-target-elem=".featured-educators"]')
            ;

            form.classList.toggle('is-filtered', checkedInputs.length > 0);

            if (loadMoreButton != null && loadMoreButton.dataset.continueLoading === true) {
                loadMoreButton.toggleAttribute('disabled', form.classList.contains('is-filtered'));
            }

            if (checkedInputs.length > 1 || (!isChecked && checkedInputs.length > 0)) {
                filterValue = '';

                checkedInputs.forEach((checkedInput, index) => {
                    filterValue += checkedInput.dataset.filter;
                });
            }

            this.isotopeGrid.arrange({
                filter: filterValue
            });
        }
    }
    
    window.addEventListener('load', function () {
        new FeaturedEducatorsGridFilters('form.grid-filters');
    });
</script>
