<h3>
    {{ page.name | default: page.title }} {% if page.name != nil and page.name contains 'and' %}are{% else %}is{% endif %} affiliated with the following collectives:
</h3>

<ul class="list-default">
    {%- for streamer_collective in page.collectives -%}
    {%- assign collective = site.collectives | where: 'tag', streamer_collective | first -%}
    <li>
        <a href="{{ collective.url | relative_url }}">
            {{ collective.title }}
        </a>
    </li>
    {%- endfor -%}
</ul>
