<h3>
    {{ page.name | default: page.title }} stream{% unless page.name != nil and page.name contains 'and' %}s{% endunless %} on the following platforms:
</h3>

<ul class="list-default">
    {%- for streaming_platform in page.streaming_platforms -%}
    {%- assign streaming_service = streaming_platform[0] -%}
    {%- assign streaming_url = streaming_platform[1] -%}
    <li>
        <a href="{{ streaming_url }}" target="_blank" class="hover-underline">
            {{ streaming_service | capitalize }}
        </a>
    </li>
    {%- endfor -%}
</ul>
