<h3>
    {{ page.name | default: page.title }}&rsquo;s links:
</h3>

<ul class="list-default social-links">
    {%- for social_platform in page.social_platforms -%}
    {%- assign social_channel = social_platform[0] -%}
    {%- assign social_link = social_platform[1] -%}
    {%- assign icon_class = social_channel -%}

    {%- case social_channel -%}
        {%- when 'researchgate' or 'website' -%}
        {%- assign icon_class = 'globe' -%}
        {%- when 'linkedin' -%}
        {%- assign icon_class = icon_class | append: '-squared' -%}
        {%- when 'github' -%}
        {%- assign icon_class = icon_class | append: '-circled' -%}
        {%- when 'youtube' -%}
        {%- assign icon_class = icon_class | append: '-play' -%}
        {%- when 'snapchat' -%}
        {%- assign icon_class = icon_class | append: '-square' -%}
        {%- when 'tumblr' or 'pinterest' -%}
        {%- assign icon_class = icon_class '-squared' -%}
        {%- else -%}
            {%- unless site.social_platforms.size > 0 and site.social_platforms contains social_channel -%}
                {%- assign icon_class = 'globe' -%}
            {%- endunless -%}
    {%- endcase -%}
    <li class="item-{{ social_channel }}">
        <a href="{{ social_link }}" class="link-{{ social_channel }}" target="_blank">
            <i class="icon-{{ icon_class }}"></i>
        </a>
    </li>
    {%- endfor -%}
</ul>
