@keyframes is-sliding {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes is-sliding-sm-down {
    from {
        left: 0;
    }

    to {
        left: -300%;
    }
}
