// Top

.margin-top-3-point-5-rem {
    margin-top: 3.5rem;
}

@media (max-width: 767px) {
    .margin-top-0-sm-down {
        margin-top: 0;
    }
}

// Right

@media (max-width: 567px) {
    .margin-right-5-xs-down,
    .social-links li:not(:last-child).margin-right-5-xs-down {
        margin-right: 5px;
    }

    .margin-right-10-xs-down,
    .social-links li:not(:last-child).margin-right-10-xs-down {
        margin-right: 10px;
    }
}

// Bottom

// Left
