// Text colours

.text-medium-slate-blue {
    color: $medium-slate-blue;
}

// Science colours

.text-biology {
    color: $lima-green;
}

.text-chemistry {
    color: $denim-blue;
}

.text-computer-science {
    color: $french-rose-pink;
}

.text-electronics {
    color: $tangerine-yellow;
}

.text-engineering {
    color: $regent-st-blue;
}

.text-geology {
    color: $santa-fe-brown;
}

.text-maths {
    color: $cutty-sark-blue;
}

.text-physics {
    color: $cardinal-red;
}

// Text alignments

.text-center {
    text-align: center;
}
