<!-- Paste the required HTML at the end of your document (see demo examples) -->
<div id="outdated">
    <h6>Your browser is out-of-date!</h6>
        <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="https://bestvpn.org/outdatedbrowser/"> Outdated Browser </a></p>
        <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>

<link rel="stylesheet" href="{{ '/assets/css/vendor/outdatedbrowser.min.css' | relative_url }}" type="text/css" />
<style type="text/css">
    @media all and (-ms-high-contrast: none) {
        #outdated {
            display: block;
            height: 100%;
            padding-top: 25%;
        }
    }
</style>
