
.icon-globe:before { content: '\e800'; } /* '' */
.icon-tinyletter:before { content: '\e801'; } /* '' */
.icon-discord:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.icon-quora:before { content: '\f2c4'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */