<div class="contact-grid grid grid-3">
    <div class="contact-item">
        <h3 class="h2">
            On GitHub
        </h3>

        <p>
            Our GitHub repository - i.e. the container for the website&rsquo;s &ldquo;source code&rdquo; - is available at <a class="display-inline-block-lg-down" href="https://github.com/{{ site.repository }}" target="_blank">{{ site.repository }}</a>.
        </p>

        <p>
            You can use raise issues via the repository&rsquo;s issue tracker.
        </p>
    </div>

    <div class="contact-item">
        <h3 class="h2">
            On Discord
        </h3>

        <p>
            We currently do not have a Discord server set up - but this is on our &ldquo;to-do&rdquo; list.
        </p>
    </div>

    <div class="contact-item">
        <h3 class="h2">
            Via email
        </h3>

        <p>
            For any private enquiries, please email us at <a class="display-inline-block-sm-up" href="mailto:{{ site.email }}">{{ site.email }}</a>.
        </p>
    </div>
</div>
