{%- assign streamers = site.educators | where: 'display_on_site', true -%}

{%- if streamers.size > 0 -%}
{%- include components/streamers/filters.html -%}

<div class="featured-educators">
    {%- for streamer in streamers limit:site.grid.initial_limit -%}

    {%- assign primaryScience = streamer.sciences | first -%}
    {%- assign defaultImg = primaryScience | append: '/default.jpg' -%}

    {%- case primaryScience -%}
        {%- when 'biology' -%}
        {%- assign defaultImgDescription = '' -%}
        {%- when 'chemistry' -%}
        {%- assign defaultImgDescription = 'Test tube' -%}
        {%- when 'computer-science' -%}
        {%- assign defaultImgDescription = '' -%}
        {%- when 'electronics' -%}
        {%- assign defaultImgDescription = '' -%}
        {%- when 'geology' -%}
        {%- assign defaultImgDescription = 'Stone wall' -%}
        {%- when 'physics' -%}
        {%- assign defaultImgDescription = '' -%}
    {%- endcase -%}

    {%- assign thumb = '/assets/images/educators/thumbnails/' | append: streamer.images.thumbnail.filename -%}
    {%- assign thumb_exists = site.static_files | where: 'path', thumb -%}
    {%- assign streaming_platforms = '' | split: '' -%}

    {%- if thumb_exists.size < 1 -%}
        {%- assign thumb = '/assets/images/educators/thumbnails/' | append: defaultImg -%}
        {%- assign usingDefaultImage = 1 -%}
    {%- endif -%}

    {%- if streamer.streaming_platforms.size > 0 -%}
        {%- for streaming_services in streamer.streaming_platforms -%}
            {%- assign streaming_platform = streaming_services[0] -%}
            {%- assign streaming_platforms = streaming_platforms | push: streaming_platform -%}
        {%- endfor -%}
    {%- endif -%}
    <div class="featured-educator {{ streamer.sciences | join: ' ' }} {{ streaming_platforms | join: ' ' }} {{ streamer.collectives | join: ' ' }}" style="background-image: url({{- thumb | relative_url -}});" role="img" aria-label="{% if thumb_exists.size < 1 and defaultImgDescription != nil %}{{ defaultImgDescription }}{% else %}{{ streamer.name | default: streamer.title }}{% endif %}" data-using-default-image="{{ usingDefaultImage | default: 0 }}">
        <a href="{{ streamer.url }}"></a>

        <div class="educator-minibio">
            <h3 class="h4">
                {%- if streamer.name and streamer.name != '' and streamer.name.size > 0 -%}
                {{- streamer.name }}
                {%- assign streamer_name_sanitised = streamer.name | replace: ' ', '' | downcase -%}
                {%- assign display_name = streamer.title | downcase -%}
                {%- unless streamer_name_sanitised == display_name -%}
                <span class="display-name">({{- display_name - }})</span>
                {%- endunless -%}
                {%- else -%}
                {{- streamer.title -}}
                {%- endif -%}
            </h3>
        </div>
    </div>
    {%- endfor -%}

</div>

{%- if streamers.size > site.grid.initial_limit -%}
<a href="#" class="cta bg-medium-slate-blue load-more-button goal-link" data-event-category="Lineup" data-event-action="Load more" data-event-label="Streamers grid load more button" data-continue-loading="true" data-target-elem=".featured-educators">
    Load more
</a>

{%- assign today = 'now' | date: '%Y%M%d' -%}
<script type="module" src="{{ '/assets/js/components/LoadMoreButton.js?ver=' | append: today | relative_url }}"></script>
{%- endif -%}
{%- endif -%}
