{%- if include.science -%}
{%- assign science = site.sciences | where: 'tag', include.science | first -%}
{%- assign science_query = 'science.tag contains "' | append: science.tag | append: '"' -%} 
{%- assign educator_sciences_query = 'educator.sciences contains "' | append: science.tag | append: '"' -%} 
{%- endif -%}

{%- if include.platform -%}
{%- assign platform = include.platform -%}
{%- assign platform_query = 'educator.streaming_platforms contains "' | append: platform | append: '"' -%}
{%- endif -%}

{%- if include.science and include.platform -%}
{%- assign streamers = site.educators | where_exp: 'educator', educator_sciences_query | where_exp: 'educator', platform_query | where: 'display_on_site', true -%}
{%- elsif include.science -%}
{%- assign streamers = site.educators | where_exp: 'educator', educator_sciences_query | where: 'display_on_site', true -%}
{%- elsif include.platform -%}
{%- assign streamers = site.educators | where_exp: 'educator', platform_query | where: 'display_on_site', true -%}
{%- endif -%}

{%- if include.collective -%}
{%- assign collective = site.collectives | where: 'tag', include.collective | first -%}
{%- assign streamers = site.educators | where: 'collectives', include.collective | where: 'display_on_site', true -%}
{%- endif -%}

{%- if include.random and streamers == nil -%}
    {%- assign streamers = '' | split: '' -%}
    {%- assign active_streamers = site.educators | where: 'display_on_site', true -%}

    {%- assign min = -1 -%}
    {%- assign max = active_streamers.size -%}
    {%- assign diff = max | minus: min -%}
    {%- assign random_number = 'now' | date: '%N' | modulo: diff | plus: min -%}

    {%- assign streamers = streamers | push: active_streamers[random_number] -%}
{%- endif -%}

{%- if streamers.size > 0 -%}
    {%- if include.science and include.platform -%}
<h2>
    Who streams {{ include.science | replace: '-', ' ' }} on {{ include.platform | capitalize }}?
</h2>
    {%- elsif collective -%}
<h2>
    Who streams as a member of {{ collective.title | default: collective.tag }}?
</h2>
    {%- endif -%}

<div class="featured-educators">
    {%- for streamer in streamers -%}
        {%- unless page.collection != nil -%}
            {%- assign science = page.tag | default: streamer.sciences[0] -%}
        {%- else -%}
            {%- assign science = streamer.sciences[0] -%}
        {%- endunless -%}

        {%- assign defaultImg = science | append: '/default.jpg' -%}

        {%- case science -%}
            {%- when 'biology' -%}
            {%- assign defaultImgDescription = '' -%}
            {%- when 'chemistry' -%}
            {%- assign defaultImgDescription = 'Test tube' -%}
            {%- when 'computer-science' -%}
            {%- assign defaultImgDescription = '' -%}
            {%- when 'electronics' -%}
            {%- assign defaultImgDescription = '' -%}
            {%- when 'geology' -%}
            {%- assign defaultImgDescription = 'Stone wall' -%}
            {%- when 'physics' -%}
            {%- assign defaultImgDescription = '' -%}
        {%- endcase -%}

        {%- assign thumb = '/assets/images/educators/thumbnails/' | append: streamer.images.thumbnail.filename -%}
        {%- assign thumb_exists = site.static_files | where: 'path', thumb -%}

        {%- if thumb_exists.size < 1 -%}
            {%- assign thumb = '/assets/images/educators/thumbnails/' | append: defaultImg -%}
            {%- assign usingDefaultImage = 1 -%}
        {%- endif -%}
    <div class="featured-educator {{ streamer.sciences | join: ' ' }} {{ streamer.collectives | join: ' ' }}" style="background-image: url({{- thumb | relative_url -}});" role="img" aria-label="{% if thumb_exists.size < 1 and defaultImgDescription != nil %}{{ defaultImgDescription }}{% else %}{{ streamer.name | default: streamer.title }}{% endif %}" data-using-default-image="{{ usingDefaultImage | default: 0 }}">
        <a href="{{ streamer.url }}"></a>

        <div class="educator-minibio">
            <h3 class="h4">
                {%- if streamer.name and streamer.name != '' and streamer.name.size > 0 -%}
                {{- streamer.name }}
                {%- assign streamer_name_sanitised = streamer.name | replace: ' ', '' | downcase -%}
                {%- assign display_name = streamer.title | downcase -%}
                {%- unless streamer_name_sanitised == display_name -%}
                <span class="display-name">({{- display_name - }})</span>
                {%- endunless -%}
                {%- else -%}
                {{- streamer.title -}}
                {%- endif -%}
            </h3>
        </div>
    </div>
    {%- endfor -%}
</div>
{%- endif -%}
