.menu-toggle {
    display: inline-block;

    .toggle-line {
        display: inline-block;
        width: 100%;
        border-bottom: 2px solid $white;
    }
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: $white;
    text-align: center;
}

body.lineup {
    .load-more-button {
        display: block;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        transition: .5s;

        &[disabled] {
            pointer-events: none;
            opacity: .5;
        }

        @media (min-width: 992px) {
            max-width: 35%;
        }
    }
}
