.faqs-accordion,
.single-faq {
    margin-top: 3rem;

    &.single-faq {
        &:last-child {
            margin-bottom: 2rem;
        }
    }

    .faq-question {
        background-color: $medium-slate-blue;
        padding: 1rem;
        color: $white;

        h1, h2 {
            margin: 0;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 1.5rem;
            }

            @media (max-width: 567px) {
                font-size: 1.3rem;
            }
        }
    }

    .faq-answer {
        background-color: beige;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        p {
            font-size: 1.5rem;
        }
    }
}
