.list-default {
    list-style-type: none;
    padding-left: 0;

    li {
        font-size: 1.5rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.social-links {
    li {
        display: inline-block;
        margin-bottom: unset;
        font-size: 2rem;

        &:first-child {
            i {
                &:before {
                    margin-left: 0;
                }
            }
        }

        &:not(:last-child) {
            margin-right: 20px;
            margin-bottom: unset;
        }

        &:not(.item-facebook) {
            vertical-align: super;
        }

        a {
            &.link-discord {
                color: $jordy-blue;
            }

            &.link-facebook {
                background-color: $mariner-blue;
                color: $white;
                border-radius: 4px;
                font-size: 1.3rem;
                vertical-align: super;
            }

            &.link-instagram {
                background: -moz-linear-gradient(-135deg,#1400c8,#b900b4,#f50000);  
                background: -webkit-linear-gradient(-135deg,#1400c8,#b900b4,#f50000);  
                background: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);  
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &.link-linkedin {
                color: $denim-blue;
            }

            &.link-quora {
                color: $quora-red;
            }

            &.link-twitter {
                color: $dodger-blue;
            }

            &.link-youtube {
                color: $youtube-red;
            }
        }
    }
}
