.slideshow {
    position: relative;
    overflow: hidden;
    min-height: 35rem;

    .slideshow-item {
        width: 100%;
        height: 100%;
        padding: 10rem 20rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: beige;
        color: $white;
        position: absolute;
        left: 0;
        transition: 1.5s;
        z-index: 1;

        &.active {
            z-index: 2;
        }

        @media (max-width: 1199px) {
            padding-left: 0;
            padding-right: 0;
        }

        &:not(.active) {
            left: -100%;

            @media (max-width: 767px) {
                left: -300%;
            }
        }

        &.is-sliding {
            @media (min-width: 768px) {
                animation: is-sliding 2s backwards 4s;
            }

            @media (max-width: 767px) {
                animation: is-sliding-sm-down 2s backwards 4s;
            }
        }

        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($black, .6);
            z-index: -1;
        }

        .slideshow-content {
            padding-left: 5rem; 

            @media (max-width: 1199px) {
                padding: 0;
                max-width: 65%;
                margin-left: auto;
                margin-right: auto;
            }

            h2 {
                font-size: 2.5rem;
                margin-top: 0;

                @media (max-width: 567px) {
                    font-size: 2rem;
                }
            }

            p {
                font-size: 2rem;

                @media (max-width: 567px) {
                    font-size: 1.3rem;
                }

                &:last-of-type {
                    margin-bottom: 2rem;
                }
            }

            .cta {
                font-weight: 700;

                @media (max-width: 1199px) {
                    display: block;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }

                @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 1.5rem;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 1.3rem;
                }

                @media (max-width: 567px) {
                    font-size: .8rem;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            @media (min-width: 1200px) {
                margin-top: 5rem;
            }
        }
    }
}
