<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include components/head/index.html -%}
  <body class="collective">
    {%- include components/top/header/navigation.html -%}
    <main class="content-box">
      <div class="content-inner">
        {{ content }}
        {% capture collective_links %}
        {% include components/collectives/links.md %}
        {% endcapture %}
        {{ collective_links | markdownify }}
        {% include components/streamers/featured.html collective=page.tag %}
      </div>
    </main>

    <script src="{{ '/assets/js/components/Counter.js' | relative_url }}"></script>
    {%- include components/bottom/footer/navigation.html -%}
  </body>
</html>
