{%- unless page.name == nil or page.name == '' or page.name.size < 1 -%}
    {%- assign channel_name = ' (' | append: page.title | downcase | append: ')' -%}
    {%- assign title = page.name | append: channel_name | append: ' | ' | append: site.title -%}
{%- else -%}
    {%- assign title = page.title | append: ' | ' | append: site.title -%}
{%- endunless -%}

{%- unless page.description == nil or page.description == '' or page.description.size < 1 -%}
    {%- assign description = page.description -%}
{%- else -%}
    {%- capture description -%}
        {%- if page.name != nil and page.name contains 'and' -%}
            {{ page.title }} are STEM livestreamers specialising in {% for science in page.sciences %}{% unless forloop.last or forloop.first %}, {% elsif forloop.index > 1 %} and {% endunless %}{{ science | replace: '-', ' ' }}{% endfor %}.
        {%- else -%}
            {{ page.name | default: page.title }} is a STEM livestreamer specialising in {% for science in page.sciences %}{% unless forloop.last or forloop.first %}, {% elsif forloop.index > 1 %} and {% endunless %}{{ science | replace: '-', ' ' }}{% endfor %}.
        {%- endif -%}
    {%- endcapture description -%}
{%- endunless -%}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="{{ title }}" />
        <meta name="description" content="{{ description }}" />
        {%- if page.keywords and page.keywords != nil and page.keywords.size > 0  -%}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{%- endif -%}
        {%- assign today = 'now' | date: '%Y%M%d' -%}
        <link rel="stylesheet" href="{{ '/assets/css/main.css?ver=' | append: today | relative_url }}" type="text/css" />
    </head>
    <body class="category-educator">
        {%- include components/top/header/navigation.html -%}
        {%- include components/banners/featured-educator.html -%}
        <main class="content-box">
            <div class="content-inner">
                {{ content }}

                {%- if page.include_links == true -%}
                    {%- include components/streamers/meta.html -%}
                {%- endif -%}
            </div>
        </main>
        {%- include components/bottom/footer/navigation.html -%}
    </body>
</html>
