{%- assign title = page.title | append: ' | ' | append: site.title | append: ' &minus; ' | append: site.strapline -%}

{%- if page.description and page.description != nil and page.description != '' -%}
    {%- assign description = page.description -%}
{%- else -%}
    {%- assign science = page.tag | replace: '-', ' ' -%}
    {%- assign description = 'Who streams ' | append: science | append: ' on Twitch or YouTube?' -%}
{%- endif -%}

{%- assign science_where_exp = 'educator.sciences contains "' | append: page.tag | append: '"' -%}
{%- assign twitch_query = 'educator.streaming_platforms contains "twitch"' -%}
{%- assign youtube_query = 'educator.streaming_platforms contains "youtube"' -%}
{%- assign twitch_streamers = site.educators | where_exp: 'educator', science_where_exp | where_exp: 'educator', twitch_query | where: 'display_on_site', true -%}
{%- assign youtube_streamers = site.educators | where_exp: 'educator', science_where_exp | where_exp: 'educator', youtube_query | where: 'display_on_site', true -%}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="{{ title }}" />
        <meta name="description" content="{{ description }}" />
        {%- if page.keywords and page.keywords != nil and page.keywords.size > 0  -%}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{%- endif -%}
        {%- assign today = 'now' | date: '%Y%M%d' -%}
        <link rel="stylesheet" href="{{ '/assets/css/main.css?ver=' | append: today | relative_url }}" type="text/css" />
        {%- include components/head/science.html -%}
    </head>
    <body class="category-science {{ page.tag }}">
        {%- include components/top/header/navigation.html -%}
        {%- include components/banners/featured-science.html -%}
        <main class="content-box">
            <div class="content-inner">
                {{ content }}
                {% include components/streamers/featured.html science=page.tag platform="twitch" %}
                {% include components/streamers/featured.html science=page.tag platform="youtube" %}
            </div>
        </main>
        {%- include components/bottom/footer.html -%}
    </body>
</html>
