{%- assign title = page.title | append: ' | ' | append: site.title | append: ' &minus; ' | append: site.strapline -%}
{%- if page.description and page.description != nil and page.description != '' -%}
{%- assign description = page.description -%}
{%- else -%}
{%- capture description -%}{{- site.description -}}.{%- endcapture description -%}
{%- endif -%}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="{{ title }}" />
        <meta name="description" content="{{ description }}" />
        {%- if page.keywords and page.keywords != nil and page.keywords.size > 0  -%}<meta name="keywords" content="{{ page.keywords | join: ", " }}" />{%- endif -%}
        {%- assign today = 'now' | date: '%Y%M%d' -%}
        <link rel="stylesheet" href="{{ '/assets/css/main.css?ver=' | append: today | relative_url }}" type="text/css" />
    </head>
    <body class="category-science">
        {%- include components/top/header/navigation.html -%}
        {%- include components/banners/featured-science.html -%}
        <main class="content-box">
            <div class="content-inner">
                {{ content }}
                {% include components/streamers/featured.html science=page.tag platform="twitch" %}
                {% include components/streamers/featured.html science=page.tag platform="youtube" %}
            </div>
        </main>
        {%- include components/bottom/footer/navigation.html -%}
    </body>
</html>
