/*
    Educator pages
*/

body.category-educator {
    .content-box {
        @media (min-width: 768px) {
            height: auto;
        }

        @media (max-width: 767px) {
            grid-template-columns: 0.8fr 8fr 0.8fr;
        }
    }
}

/*
    Low text pages
*/

body.category-educator {
    &.low-text-ratio {
        .content-box {
            @media (max-width: 1199px) {
                height: 100%;
            }
        } 
    }
}

/*
    Featured educators
*/

.featured-educators {
    display: grid; 
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: minmax(20rem, auto);
    grid-auto-rows: minmax(20rem, auto);

    @media (max-width: 991px) {
        grid-template-columns: 12fr;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        grid-template-rows: minmax(25rem, auto);
        grid-auto-rows: minmax(25rem, auto);    
    }

    @media (max-width: 567px) {
        grid-template-rows: minmax(15rem, auto);
        grid-auto-rows: minmax(15rem, auto);
    }

    .featured-educator {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $white;
        position: relative;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        .educator-minibio {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba($black, .5);

            @media (min-width: 992px) {
                min-height: 7rem;
            }

            h3 {
                text-align: center;

                @media (max-width: 991px) {
                    font-size: 2rem;
                }

                @media (max-width: 567px) {
                    font-size: 1.3rem;
                }
            }

            .display-name {
                display: block;
            }
        }
    }
}

.category-science {
    .featured-educators {
        &:first-of-type, &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
    }
}
