/*
    Educator pages
*/

body.category-educator {
    .content-box {
        @media (max-width: 767px) {
            grid-template-columns: 0.8fr 8fr 0.8fr;
        }

        .content-inner {
            padding-top: 0;

            :first-child {
                margin-top: 1rem;
            }

            h3, .h3 {
                @media (max-width: 767px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

/*
    Featured educators
*/

.featured-educators {
    display: grid; 
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: minmax(20rem, auto);
    grid-auto-rows: minmax(20rem, auto);

    &.toggle-grid {
        @media (min-width: 1200px) {
            margin-left: 6rem;
        }

        .featured-educator {
            padding-left: 20%;
            padding-right: 20%;
            min-height: 20rem;

            &:not(:last-child) {
                @media (max-width: 767px) {
                    margin-bottom: 2.3rem;
                }
            }

            @media (min-width: 1200px) {
                padding-left: 15%;
                padding-right: 15%;
                min-height: 15rem;
            }

            @media (max-width: 1199px) {
                padding-left: 25%;
                padding-right: 25%;
            }

            @media (max-width: 767px) {
                padding-left: 50%;
                padding-right: 50%;
            }

            a {
                position: absolute;
                left: 0;
            }
        }
    }

    @media (max-width: 991px) {
        grid-template-columns: 12fr;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        grid-template-rows: minmax(25rem, auto);
        grid-auto-rows: minmax(25rem, auto);    
    }

    @media (max-width: 567px) {
        grid-template-rows: minmax(15rem, auto);
        grid-auto-rows: minmax(15rem, auto);
    }

    .featured-educator {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $white;
        position: relative;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        .educator-minibio {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba($black, .5);

            @media (min-width: 992px) {
                min-height: 8rem;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                min-height: 6rem;
            }

            h3 {
                text-align: center;

                @media (min-width: 992px) and (max-width: 1199px) {
                    max-width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media (min-width: 992px) {
                    font-size: 1.3rem;
                }

                @media (max-width: 991px) {
                    font-size: 1.2rem;
                }

                @media (max-width: 567px) {
                    font-size: 1.3rem;
                }
            }

            .display-name {
                display: block;
            }
        }

        &:first-child:last-child {
            .educator-minibio {
                min-height: auto !important;
            }
        }
    }
}

body.home {
    .featured-educator {
        @media (min-width: 992px) {
            grid-column-start: 2;
        }
    }
}

.category-science {
    .featured-educators {
        &:first-of-type, &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        .featured-educator {
            &:not(:last-of-type) {
                @media (max-width: 991px) {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}
