/*
    Lineup
*/

body.lineup {
    .content-box {
        @media (max-width: 767px) {
            grid-template-columns: 0.5fr 8fr 0.5fr;
        }
    }

    .featured-educators {
        margin-top: 5rem;
    }
}

/*
    Collective pages
*/

body.collective {
    .content-box {
        .content-inner {
            p {
                font-weight: 300;
            }

            ul.links {
                list-style-type: none;
                padding-left: 0;

                li {
                    font-size: 1.5rem;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    span {
                        font-weight: 900;
                    }
                }
            }

            ul.list-streamers {
                list-style-type: none;
                padding-left: 0;
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;

                li {
                    font-size: 1.6rem;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

/*
    Content box - will override height on a per-page basis
*/

.content-box {
    @media (min-width: 768px) {
        height: 100%;
    }

    p, li {
        a {
            &:not([class*="text-"]) {
                color: $medium-slate-blue;
            }
        }
    }

    h1, .h1 {
        @media (max-width: 567px) {
            font-size: 2.1rem;
        }
    }

    h2, .h2 {
        @media (max-width: 567px) {
            font-size: 2rem;
        }
    }
}

body.about,
body.lineup,
body.category-science {
    .content-box {
        @media (min-width: 768px) {
            height: auto;
        }
    }
}

body.faqs,
body.contact {
    .content-box {
        @media (max-width: 567px) {
            height: 100%;
            grid-template-columns: 0.5fr 8fr 0.5fr;
        }

        h1, .h1 {
            &:first-child {
                @media (max-width: 567px) {
                    text-align: center;
                }
            }
        }
    }
}
